p #{name} Você solicitou a recuperação de senha? se foi você mesmo siga os passos abaixo, caso contrario deve ignorar esse email! 


p Passo 1 copiei o token! 
h1 #{token}
p Passo 2 token o token no campo esperado e defina a nova senha!